# gitignore liftet from Org master git repository.

# ...by ignoring everything created by 'make', 'make doc', `make info'
#    `make html_manual', `make release'

*.aux
*.bak
*.cp
*.cps
*.diff
*.dvi
*.elc
*.fn
*.fns
*.html
*.info
*.ky
*.kys
*.log
*.patch
*.pdf
*.pg
*.pgs
*.ps
*.toc
*.tp
*.vr
*.vrs
orgcard_letter.tex
orgcard.txt

org-install.el
org-*.tar.gz
org-*.zip
manual
org_dual_license.texi
ORGWEBPAGE/Changes.txt

# aspell word and replacement lists

.aspell.org.pws
.aspell.org.prepl

# allow tmp and test directories that will not be tracked

t
auto
tmp
TODO

# and collateral damage from Emacs

*~
.DS_Store
*#
.#*

#
# Local variables:
# fill-column: 72
# mode: conf
# End:
/UTILITIES/x11idle

commit.txt

website/*
MANIFEST*
befehle.txt
LICENSE
build
.gitignore
python-modes/python-mode-el/devel/fundocu2infoformats.el

python-modes/pdee/py-process-name.el
python-modes/pdee/py-set-shell-completion-environment.el
python-modes/pdee/py-shell.el
python-modes/pdee/devel/*
python-modes/python-mode-el/devel/*
python-modes/xemacs-lp-python-mode/devel/*
python-modes/pdee/devel/*

# Bytecodes
*.pyc
setup.py
python-mode-compile.sh

test/py-shell-completion-tests.el
test/python-executes-test.el
test/python-extended-executes-test.el
test/python-mode-script-completion-test.sh
test/python-mode-shell-complete-test.sh
python-components-completion.el
RCS
ToDo.org
devel/notes.org
auto-complete-rest.el
py--buffer-name-prepare.el
warning.txt