version: 2.1

jobs:
  pdee:
    docker:
      - image: silex/emacs:27.2
    working_directory: ~/pdee
    steps:
      - run:
          name: Install dependencies
          command: |
            apt-get update
            apt-get install -y git openssh-client
      - checkout
      - run:
          name: Umgebung
          command: |
            echo "Gebe Umgebung aus"
            ls -lart
      - run:
          name: ERT tests
          command: |
            emacs -Q --batch \
              --eval "(setq py-debug-p nil)" \
              --eval "(message (emacs-version))" \
              --eval "(message (getenv \"PWD\"))" \
              --eval "(setq python-indent-offset 4)" \
              --eval "(setq python-indent-guess-indent-offset nil)" \
              --eval "(setq python-indent-guess-indent-offset-verbose nil)" \
              --eval "(add-to-list 'load-path (getenv \"PWD\"))" \
              --eval "(load \"~/pdee/python-components-mode.el\")" \
              --eval "(load \"~/pdee/test/py-setup-ert-tests.el\")" \
              --eval "(load \"~/pdee/test/py-ert-indent-tests.el\")" \
              --eval "(load \"~/pdee/test/py-ert-beginning-tests.el\")" \
              --eval "(load \"~/pdee/test/py-ert-forward-tests.el\")" \
              --eval "(load \"~/pdee/test/py-ert-scope-tests.el\")" \
              --eval "(load \"~/pdee/test/py-ert-function-tests.el\")" \
              --eval "(load \"~/pdee/test/py-ert-variablen-tests.el\")" \
              --eval "(load \"~/pdee/test/py-ert-navigation-tests.el\")" \
              --eval "(load \"~/pdee/test/py-ert-execute-region-test.el\")" \
              --eval "(load \"~/pdee/test/py-ert-fill-tests.el\")" \
              --eval "(load \"~/pdee/test/py-ert-delete-tests.el\")" \
              --eval "(load \"~/pdee/test/py-executable-python-tests.el\")" \
              --eval "(sit-for 1)" \
              -f ert-run-tests-batch-and-exit

workflows:
  pdee-workflow:
    jobs:
      - pdee  
